<div>
      All entries:
      <span ng-repeat="entry in fc.array">{{entry.name}} </span>
    </div>
    <div>
      Filter By Name in angular controller<hr/>
      <span ng-repeat="entry in fc.filteredArray">({{$index}})    {{entry.name}}<br> </span>
      
      
      <input type="text" ng-model="fc.sortcol" /><button ng-click="fc.sortby()">Sort</button>
      <button ng-click="fc.revsort()">Reverse Sort</button>
      <hr/>
    </div>


<hr>
<div>

VALUE TO TEST FOR YES NO: <input type="text" ng-model="valuetoTest">
    <br>
 YES Label:   <input type="text" value="YES" ng-model="yeslabel">  No Label<input type="text" value="NO" ng-model="nolabel">
    <br>
   yes value:  <input type="text" value="1" ng-model="yesvalue">
<br>
 <span style="color:red" ng-bind="valuetoTest|yesno:yeslabel:nolabel:yesvalue"></span>
<br>
   <div style="font-style: italic"> the tested value: <span ng-bind="testedvalue"></span></div>


    <br>
<input type="text" ng-model="boolvalue">
    <span style="color:green" ng-bind="boolvalue|makeBoolean"> </span>



    <br>
<br>
    VALUE TO TEST FOR YES NO: <input type="text" ng-model="testvalue">
    <span style="color:red" ng-bind="testvalue|makeBoolean|yesno"></span>
</div>

<hr>